@import url("./styles/reset.css");
@import url("./styles/vars.css");
@import url("./styles/lib.css");
@import url("./styles/anims.css");

/* layout */
body {
  min-height: 100dvh;
}
body > * {
  display: flow-root;
}
body > header {
  h1 {
    padding: 1rem;
    width: fit-content;
    @media (width > 40rem) {
      padding: 1rem 4rem;
    }
  }
}
body > main {
  margin: 1rem auto;
  & > section {
    margin: 1rem auto;
    width: min(80rem, 100% - 1rem);
  }
}
body > footer {
  margin-top: 4rem;
  padding: 0.2rem 2rem;
}

/* cmps */
#piano {
  margin: 2rem auto;
  width: fit-content;
  border: 2px solid black;

  .touch {
    cursor: not-allowed;
    padding: 1.4rem;
    width: 2rem;
    aspect-ratio: 1/6;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    &.active {
      box-shadow: inset 0.2rem 0.2rem 0.2rem black;
    }
  }
  .touch:nth-of-type(even) {
    background: linear-gradient(0deg, hsl(0, 0%, 0%, 0.8), transparent 20%);
  }

  p {
    cursor: not-allowed;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem black, inset -0.2rem -0.2rem 0.4rem black;
    &.active {
      box-shadow: inset 0.2rem 0.2rem 0.2rem black;
    }
  }
}
