@import url("./styles/reset.css");
@import url("./styles/vars.css");
@import url("./styles/lib.css");
@import url("./styles/anims.css");

/* pages */

/* layout */
body {
  min-height: 100dvh;
}
body > * {
  display: flow-root;
}
body > header {
  h1 {
    padding: 1rem;
    width: fit-content;
    @media (width > 40rem) {
      padding: 1rem 4rem;
    }
  }
}
body > main {
  margin: 1rem auto;
  & > section {
    margin: 1rem auto;
    width: min(80rem, 100% - 1rem);
  }
}
body > footer {
  margin-top: 4rem;
  padding: 0.2rem 2rem;
}
